@import "../../../../styles/variables.scss";

.home-hero {
  width: 100vw;
  height: 100vh;
  position: relative;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;

  &__wrapper {
    width: calc(100% - 6rem);
    height: calc(100% - 6rem);
    position: relative;
    overflow: hidden;
  }

  &__img-wrapper {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
  }

  &__src {
    min-width: 100vw;
  }

  &__custom-bg {
    width: 100vw;
    height: 100vh;
  }

  &__img-placeholder {
    opacity: 0 !important;
  }

  &__img-overlay {
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    // background-color: rgba($color-black, 0.11);
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(
      180deg,
      rgba($color-black, 0.24) 0%,
      rgba($color-black, 0) 24%
    );
  }

  &__container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  &__heading {
    color: $color-white;
    font-size: 5rem;
    letter-spacing: 0.24rem;
    font-weight: 500;
    margin-bottom: 5rem;
    font-family: "Playfair Display", serif;
  }
}
