@import "../../styles/variables.scss";

.button {
  position: relative;
  display: block;
  border: none;
  font-weight: 400;
  text-transform: uppercase;
  cursor: pointer;

  &:focus {
    outline: none;
  }

  &--primary {
    color: $color-white;
    background-color: $color-primary;
  }

  &--black {
    color: $color-white;
    background-color: $color-black;
  }

  &--md {
    font-size: 1.5rem;
    letter-spacing: 0.24rem;
    padding: 1.5rem 1.5rem;
  }
}
