@import "./variables.scss";

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

html {
  font-size: 62.5%; //1rem = 10px
  background-color: $color-white;
}

body {
  position: relative;
  width: 100%;
  overflow-x: hidden;
}

//Remove the gray background on active links in IE 10.
a {
  &,
  &:link,
  &:visited {
    background-color: transparent;
    text-decoration: none;
    color: inherit;
  }
}

//Remove border on images inside links in IE 10
img {
  border-style: none;
}

//Change the font in all browsers
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  margin: 0;
  font-size: inherit;
}
