.container {
  width: 90%;
  margin: 0 auto;

  @media screen and(min-width: 410px) {
    width: 90%;
  }

  @media screen and(min-width: 550px) {
    width: 50rem;
  }

  @media screen and(min-width: 650px) {
    width: 55rem;
  }

  @media screen and(min-width: 750px) {
    width: 65rem;
  }

  @media screen and(min-width: 1000px) {
    width: 82rem;
  }

  @media screen and(min-width: 1100px) {
    width: 90rem;
  }

  @media screen and(min-width: 1200px) {
    width: 95rem;
  }

  @media screen and(min-width: 1300px) {
    width: 110rem;
  }

  @media screen and(min-width: 1400px) {
    width: 120rem;
  }

  @media screen and(min-width: 1500px) {
    width: 130rem;
  }

  @media screen and(min-width: 1600px) {
    width: 135rem;
  }

  @media screen and(min-width: 1700px) {
    width: 140rem;
  }

  @media screen and(min-width: 1800px) {
    width: 145rem;
  }

  @media screen and(min-width: 1900px) {
    width: 150rem;
  }
}
