$color-primary: #003eff;
$color-primary-dark: #0031c4;

$color-black: #0e1113;

$color-grey: #524f69;
$color-grey-light: #adb5bd;

$color-white: #ffffff;
$color-white-dark: #eeeeee;
$color-white-active: #c5c5ce;

$ease: cubic-bezier(0.165, 0.84, 0.44, 1);
