$color-primary: #29382a;
// $color-primary-light: #2e412f;
$color-primary-light: #566057;
$color-primary-dark: #2e3b2e;
$color-test: #566057;

$color-black: #0e1113;

$color-grey: #a5afa5;
$color-grey-light: #d6ddd6;
$color-grey-dark: #949e94;

$color-white: #ffffff;
$color-white-dark: #eceeec;
$color-white-active: #c5c5ce;

$ease: cubic-bezier(0.165, 0.84, 0.44, 1);
