@import "../../../styles/variables.scss";

.footer {
  background-color: $color-black;
  width: 100vw;
  height: 20rem;
  display: flex;

  &__container {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__heading {
    color: $color-white;
    font-size: 3rem;
    font-weight: 300;
  }
}
